mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 80% !important;
}

.card-matiere-enseigne {
  width: 45%;
  height: 15%;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-left: 20%;
}

.plus-animation:hover {
  animation: zoomIn 0.5s ease-in-out forwards;
}

.matiere-name {
  color: white !important;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

h2 {
  text-decoration: underline;
}

.matiere-image-div {
    display: flex;
    justify-content: center;
}

.mat-card-title {
  color: #3f51b5;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 8%;
}

.my-card {
  width: 90%;
  height: 95%;
}

.search-form-fields {
  display: flex;
  align-items: flex-start;
}

.p-label {
  min-width: 25%;
  text-align: end;
  padding-right: 3%;
}

.big-profil {
  max-height: 150%;
}

.info-grid {
  width: 100%;
  margin-top: 3%;
  font-size: 22px !important;
  text-align: center;
  text-decoration: underline;
}

.matiere-image {
  max-width: 40%;
}

.my-statistic {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 62px;
  color: #3F51B5;
}

.rendu {
  color: #4CAF50;
}

.non-rendu {
  color: #F59D17;
}