<h2>
  Liste des assignements
</h2>
<hr>

  <div style="display: flex;">
      <div>
        <h3>Non rendu :</h3>
        <cdk-virtual-scroll-viewport itemSize="50" cdkDropList class="example-viewport" (cdkDropListDropped)="onDropNonRendu($event)" #scroller>
          
          <mat-list  *cdkVirtualFor="let a of assignmentsNonRendu" class="example-item" cdkDrag>
            <h3 mat-subheader>
              Date limite: {{ a.dateDeRendu | date : "dd/MM/yy" }}
            </h3>
            <mat-list-item>
              <p>{{ a.titre }} ,rendu : {{ a.rendu }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </div>
    

      <div>
        <h3>Rendu :</h3>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
          <mat-list  *cdkVirtualFor="let a of assignmentsRendu" class="example-item" >
            
            <h3 mat-subheader>
              Date limite: {{ a.dateDeRendu | date : "dd/MM/yy" }}
            </h3>
            <mat-list-item>
              <p>{{ a.titre }} ,rendu : {{ a.rendu }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </div>

  </div>
    
  

  <!-- <p>Drag and drop</p>
  <div class="grid-container">
    <mat-grid-list cols="4" rowHeight="100px" cdkDropList [cdkDropListData]="books" class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-grid-tile cdkDrag *ngFor="let book of books" [style.background]="'lightblue'">{{ book }}</mat-grid-tile>
    </mat-grid-list>
  
    <mat-grid-list cols="4" rowHeight="100px" cdkDropList [cdkDropListData]="targetBooks" class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-grid-tile cdkDrag *ngFor="let book of targetBooks" [style.background]="'lightgreen'">{{ book }}</mat-grid-tile>
    </mat-grid-list>
  </div> -->
  
