<p>
  professeurs-assignments works!
</p>

<p>
  Nb documents : {{ totalDocs }}, nbPages : {{ totalPages }}
  <br />
  Page courante : {{ page }}, nb de docs par page : {{ limit }}
  <!-- add slider for adjusting the limit property, with angular 17 -->
  <mat-slider min="1" max="100" step="1" thumbLabel>
    <input matSliderThumb [(ngModel)]="limit" (change)="getAssignmentsFromService()" />
  </mat-slider>
</p>

<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="totalPages"
    [pageSize]="limit" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="page"
    aria-label="Select page">
  </mat-paginator>

<!-- <p> Avec dataTable </p>

<table mat-table [dataSource]="assignments" class="mat-elevation-z8 demo-table">
  
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Titre</th>
    <td mat-cell *matCellDef="let a">{{ a.titre }}</td>
  </ng-container>

  
  <ng-container matColumnDef="dateDeRendu">
    <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
    <td mat-cell *matCellDef="let a">{{ a.dateDeRendu | date }}</td>
  </ng-container>

  
  <ng-container matColumnDef="rendu">
    <th mat-header-cell *matHeaderCellDef>Rendu</th>
    <td mat-cell *matCellDef="let a">{{ a.rendu }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->

<p>Version avec scrolling infini</p>

  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
    <mat-list *cdkVirtualFor="let a of assignments" class="example-item">
      <h3 mat-subheader>
        Date limite: {{ a.dateDeRendu | date : "dd/MM/yy" }}
      </h3>
      <mat-list-item>
        <p>{{ a.titre }} id = {{ a._id }}, rendu : {{ a.rendu }}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- <a routerLink="">
        
      </a> -->
    </mat-list>
  </cdk-virtual-scroll-viewport>

  <p>Drag and drop</p>
  <div class="grid-container">
    <mat-grid-list cols="4" rowHeight="100px" cdkDropList [cdkDropListData]="books" class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-grid-tile cdkDrag *ngFor="let book of books" [style.background]="'lightblue'">{{ book }}</mat-grid-tile>
    </mat-grid-list>
  
    <mat-grid-list cols="4" rowHeight="100px" cdkDropList [cdkDropListData]="targetBooks" class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-grid-tile cdkDrag *ngFor="let book of targetBooks" [style.background]="'lightgreen'">{{ book }}</mat-grid-tile>
    </mat-grid-list>
  </div>
  
