<div id="globalLoader" class="global-loader">
  <h1>CHARGEMENT ...</h1>
</div>
  
  <h2>
    Liste des assignements
  </h2>
  <hr>


<div style="display: flex; justify-content: space-between;">
  <div>
    <div class="my-statut-rendu-title-div">
      <h3 class="my-statut-rendu-title non-rendu-title">
        <mat-icon>not_interested</mat-icon> <span class="my-statut-rendu-title-text">Non rendu</span>
      </h3>
    </div>

    <cdk-virtual-scroll-viewport
      itemSize="50"
      cdkDropList
      class="example-viewport"
      (cdkDropListDropped)="onDropNonRendu($event)"
      #scroller
    >
      <mat-list
        *cdkVirtualFor="let a of assignmentsNonRendu"
        class="example-item"
        cdkDrag
      >
        <mat-list-item>
          <br>
          <div class="titre-assignment-div">
            <p class="titre-assignment">{{ a.titre }}</p>
          </div>

          <ul>
            <li><b>Etudiant : </b> {{ a.etudiant[0].nom + ' ' + a.etudiant[0].prenom }}</li>
            <li><b>Créé le : </b> {{ a.dateDeCreation | date : "dd-MM-yyyy" }}</li>
          </ul>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </div>

  <div>
    <div class="my-statut-rendu-title-div">
      <h3 class="my-statut-rendu-title rendu-title">
        <mat-icon>check</mat-icon> <span class="my-statut-rendu-title-text">Rendu</span>
      </h3>
    </div>

    <cdk-virtual-scroll-viewport
      itemSize="50"
      class="example-viewport"
      #scroller
    >
      <mat-list *cdkVirtualFor="let a of assignmentsRendu" class="example-item">
        <mat-list-item>
          <br>
          <div class="titre-assignment-div">
            <p class="titre-assignment">{{ a.titre }}</p>
          </div>

          <ul>
            <li><b>Etudiant : </b> {{ a.etudiant[0].nom + ' ' + a.etudiant[0].prenom }}</li>
            <li><b>Créé le : </b> {{ a.dateDeCreation | date : "dd-MM-yyyy" }}</li>
          </ul>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
