/* Titre en haut de chaque section */
.my-statut-rendu-title-div {
  display: flex;
  justify-content: center;
}

.my-statut-rendu-title {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 15px;
  margin-left: -8%;
}

.my-statut-rendu-title-text {
  margin-left: 3%;
}

.non-rendu-title {
  border: 1px solid #FFC107;
  background-color: #FFC107;
}

.rendu-title {
  border: 1px solid #28A745;
  background-color: #28A745;
  color: white;
}

.titre-assignment {
  font-weight: bold;
  text-align: center;
  width: 50%;
  padding: 2%;
  background-color: rgba(108,117,125, 0.2);  
}

.titre-assignment-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin-bottom: 10%;
}

li {
  font-size: 14px;
}

mat-list-item {
  min-height: 300px !important;
}

/* Assuming you have a global CSS file or component-specific styles */
.grid-container {
  display: flex;
  justify-content: space-between;
}

/* Amélioration du style pour la liste virtuelle */
.example-viewport {
  height: 550px;
  width: 600px;
  border: 1px solid #e0e0e0; /* Utilisation d'une couleur plus douce pour la bordure */
  overflow: auto; /* Ajout d'un défilement pour les éléments qui dépassent la hauteur */
  background-color: #f9f9f9; /* Fond légèrement plus clair */
  border-radius: 10px; /* Coins arrondis pour un aspect moderne */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la profondeur */
  font-family: 'Helvetica Neue', sans-serif;
  margin-right: 50px;
}

/* Style pour chaque élément de la liste */
.example-item {
  height: 125px;
  padding: 10px; /* Espacement interne pour un meilleur espacement du contenu */
  display: flex; /* Utilisation de flexbox pour aligner le contenu */
  align-items: center; /* Centrage vertical du contenu */
  border-bottom: 1px solid #cfcfcf; /* Ligne de séparation entre les éléments */
  transition: background-color 0.3s ease;
}

/* Style pour le sous-titre */
.example-item h3.mat-subheader {
  font-size: 14px; /* Taille de police légèrement réduite */
  margin-bottom: 5px; /* Espacement inférieur pour séparer du titre principal */
}

/* Style pour le texte du paragraphe */
.example-item p {
  font-size: 14px; /* Taille de police légèrement augmentée */
  margin: 0; /* Suppression des marges par défaut */
  font-family: 'Helvetica Neue', sans-serif;
}

.example-item.cdk-drag-preview {
  /* Style for the dragged element */
  background-color: #f0f0f0;
  border: 2px dashed #310492;
  border-radius: 10px; /* Coins arrondis pour un aspect moderne */
  opacity: 0.7;
  transform: scale(1.05);
  cursor: grab;
  /*transition: transform 0.2s ease, box-shadow 0.2s ease;*/
}

.example-item.cdk-drag-preview:hover {
  /* Effet d'agitation au survol du curseur */
  transform: scale(1.1) rotate(30deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.example-item.cdk-drag-placeholder {
  /* Style for the placeholder (empty space) during drag */
  background-color: #ddd;
  border: 2px dashed #aaa;
  opacity: 0.6;
}

/* Style pour la ligne de séparation */
.mat-divider {
  margin: 10px 0; /* Espacement supérieur et inférieur pour la ligne de séparation */
  border-top: 1px solid #e0e0e0; /* Ligne de séparation plus subtile */
}

  