<div class="container">
  <div id="globalLoader" class="global-loader">
    <h1>CHARGEMENT ...</h1>
  </div>

  <h2>Mes étudiants</h2>

  <mat-paginator #paginator class="demo-paginator" [length]="totalDocs" [pageSize]="limit" [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 25]" [pageIndex]="page" (page)="handlePageEvent($event)" aria-label="Select page">
  </mat-paginator>

  <mat-divider></mat-divider>

  &nbsp;&nbsp;&nbsp;
  <div class="div-card">
    <div *ngFor="let e of etudiants | filter : searchText">
      <mat-card class="sublime-card">
        <mat-card-header>
          <mat-card-title>
            <span class="image-with-name">
              <img src="{{ e.etudiantDetails[0].imagePath }}" class="profile-image img-etudiant" />
            </span>

            <p>{{ e.etudiantDetails[0].prenom }} {{ e.etudiantDetails[0].nom }}</p>

          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Nbre d'assignments : <b>{{ e.total | number: '2.' }}</b></p>
        </mat-card-content>

        <mat-card-footer>
          <a mat-flat-button color="primary">Plus de détails</a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>
