mat-dialog-content {
    min-width: 700px !important;
}

mat-form-field {
    width: 100% !important;
}

mat-slider {
    width: 80%;
}

mat-spinner {
    max-width: 20px;
}

.image-success {
    max-width: 7%;
}

.image-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-success {
    color: #2BB673;
    margin-left: 1%;
}

.note-show {
    margin-left: 5%;
    color: #3F51B5;
    font-weight: 600;
}

.my-form {
    margin-top: 2%;
    display: flex;
    align-items: center;
    width: 80%;
}

.my-form-label {
    width: 15%;
    align-items: center;
}

.my-form-input {
    width: 80%;
}

h3 {
    font-weight:700 ;
}

h2 {
    margin-bottom: 3%;
}

.image-matiere {
    margin-left: 2%;
}