<h2 mat-dialog-title>
  <mat-icon>bookmark</mat-icon> Rendre / noter un assignment
</h2>

<mat-dialog-content class="mat-typography">
  <ul>
    <li>
      En mettant un assignment comme <b><i>rendu</i></b
      >, vous pouvez également donner <b><i>une note</i></b> et enregistrer
      <b><i>une remarque</i></b>
    </li>
    <li>
      Vous pouvez pas noter un assignment <b><i>non-rendu</i></b>
    </li>
    <li>
      Vous pouvez ajouter <b><i>une remarque</i></b> à tout moment
    </li>
  </ul>
  <mat-divider></mat-divider>
@if (assignment && assignment.assign) {
  <br />
  @if (isSuccess) {
    <div class="image-success-container">
      <img src="/assets/success.svg" alt="Opération effectuée avec succès" class="image-success" />
      <span class="text-success">Opération effectuée avec succès</span>
    </div>
  } @else {
    <b>Titre de l'assignment : </b>{{ assignment.assign.titre }} <br />
    <b>Date de création : </b>{{ assignment.assign.dateDeCreation | date : "dd-MM-yyyy" }}
    @if (assignment.rendre) {
    <div class="my-form">
      <div class="my-form-label">
        <mat-label>Note</mat-label>
      </div>
      <div class="my-form-input">
        <mat-slider min="0" max="20" step="1" thumbLabel>
          <input matSliderThumb [(ngModel)]="note" [disabled]="isOperating" />
        </mat-slider>
        <mat-label class="note-show"
          >{{ note < 10 ? "0" + note : note }}/20</mat-label
        >
      </div>
    </div>
    } @if (assignment.remarque) {
    <form [formGroup]="firstFormGroup">
      <div class="my-form">
        <div class="my-form-label">
          <mat-label>Remarque</mat-label>
        </div>
        <div class="my-form-input">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="remarque"
              name="remarque"
              formControlName="firstCtrl"
              required
              [readonly]="isOperating"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
    }
  } 
}
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (isOperating) {
    <button
      mat-stroked-button
      color="primary"
      aria-label="Traitement en cours ..."
    >
      <mat-spinner></mat-spinner>
    </button>
  } @else {
      @if (!isSuccess) {
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <mat-icon>cancel</mat-icon> Annuler et fermer
      </button>
      <button mat-flat-button color="primary" (click)="rendreNoter()">
        <mat-icon>check_circle</mat-icon> Enregistrer
      </button>
    } @else {
      <button mat-flat-button [mat-dialog-close]="true" color="primary">
        <mat-icon>check_circle</mat-icon> Terminer
      </button>
    }
  }
</mat-dialog-actions>
