<div id="globalLoader" class="global-loader"><h1>CHARGEMENT ...</h1></div>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-header>
        <span class="mat-card-title">Nbre Total d'assignments</span>
      </mat-card-header>

      <mat-card-content class="my-statistic"> {{ total }} </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-header>
        <span class="mat-card-title rendu">Nbre d'assignments Rendus</span>
      </mat-card-header>

      <mat-card-content class="my-statistic rendu"> {{ rendu }} </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-header>
        <span class="mat-card-title non-rendu"
          >Nbre d'assignments Non-rendus</span
        >
      </mat-card-header>

      <mat-card-content class="my-statistic non-rendu"> {{ non_rendu }} </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<h2>Vos assignments par matière</h2>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

  <ng-container matColumnDef="Professeur">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par professeur">
      Professeur
    </th>
    <td mat-cell *matCellDef="let element"> {{element.prenom}} {{element.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="Matiere">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par matiere">
      Matiere
    </th>
    <td mat-cell *matCellDef="let element"> {{element.matiere}} </td>
  </ng-container>

  <ng-container matColumnDef="Total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par nombre">
      Total
    </th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>