<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-header>
        <span class="mat-card-title">Nbre Total d'assignments</span>
      </mat-card-header>

      <mat-card-content class="my-statistic"> 55 </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-header>
        <span class="mat-card-title rendu">Nbre d'assignments Rendus</span>
      </mat-card-header>

      <mat-card-content class="my-statistic rendu"> 32 </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-header>
        <span class="mat-card-title non-rendu"
          >Nbre d'assignments Non-rendus</span
        >
      </mat-card-header>

      <mat-card-content class="my-statistic non-rendu"> 32 </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
