<h2 mat-dialog-title>Détails de l'assignment</h2>
<mat-dialog-content class="mat-typography">
  @if (details && details.titre) {
  <div>
    <h3>Professeur</h3>
    <span class="image-with-name">
      <img src="{{ details.professeur.imagePath }}" class="profile-image" />
      {{ details.professeur.prenom }} {{ details.professeur.nom }}
    </span>
  </div>

  <h3>Email du professeur</h3>
  <mat-form-field>
    <input matInput value="{{ details.professeur.email }}" readonly="true" />
  </mat-form-field>

  <h3>Titre de l'assignment</h3>
  <mat-form-field>
    <input matInput value="{{ details.titre }}" readonly="true" />
  </mat-form-field>

  <h3>Assignment créé le</h3>
  <mat-form-field>
    <input
      matInput
      value="{{ details.dateDeCreation | date : 'dd-MM-yyyy' }}"
      readonly="true"
    />
  </mat-form-field>

  <h3>Statut de l'assignment</h3>
  <mat-form-field>
    <input
      matInput
      value="{{ details.rendu ? 'Rendu' : 'Non-rendu' }}"
      readonly="true"
    />
  </mat-form-field>

  <h3>Date de rendu de l'assignment</h3>
  <mat-form-field>
    <input matInput value="{{ details.dateDeRendu | date : 'dd-MM-yyyy' }}" readonly="true" />
  </mat-form-field>

  <div>
    <h3>Matière rattachée à l'assignment</h3>
    <span class="image-with-name">
      <img
        src="{{ details.professeur.matiere.imagePath }}"
        class="profile-image"
      />
      <span class="image-matiere">{{ details.professeur.matiere.intitule }}</span>
    </span>
  </div>

  <h3>Note obtenu</h3>
  <mat-form-field>
    <input
      matInput
      value="{{ details.note >= 0 ? details.note + '/20' : 'Pas encore noté' }}"
      readonly="true"
    />
  </mat-form-field>

  <h3>Remarque obtenu depuis le professeur</h3>
  <mat-form-field>
    <input matInput value="{{ details.remarque }}" readonly="true" />
  </mat-form-field>

  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Fermer</button>
</mat-dialog-actions>
