<div id="globalLoader" class="global-loader"><h1>CHARGEMENT ...</h1></div>

<h2>Les professeurs de l'Université</h2>

<mat-divider></mat-divider>
<br>
<div class="container">
  <div class="div-card">
    <div *ngFor="let p of professeurs | filter : searchText">
      <mat-card class="sublime-card">

        <mat-card-header>
          @if (modifie && idProfesseur == p._id) {
            <div class="all-side">
              <div class="one-side">
                <mat-card-title>
                  <div class="image-with-name image-professeur">
                    <img
                      src="{{ p.imagePath }}"
                      class="profile-image img-etudiant"
                    />
                  </div>

                  <p class="nom-etudiant">
                    Pr. {{ p.prenom }} {{ p.nom }}
                  </p>
                  <p>
                    <span class="contact-professeur"><mat-icon>mail_outline</mat-icon><i>{{ p.email }}</i>  </span>
                    Enseigne la matière : <b>{{ p.matiere.intitule }}</b>
                  </p>
                </mat-card-title>
              </div>

              <div class="one-side">
                <form [formGroup]="firstFormGroup">
                  <div class="zone-input">
                    <p>Nouveau prénom</p>
                    <mat-form-field>
                      <input matInput [(ngModel)]="prenom" name="prenom" formControlName="prenomControl" />
                    </mat-form-field>
                  </div>

                  <div class="zone-input">
                    <p>Nouveau nom</p>
                    <mat-form-field>
                      <input matInput [(ngModel)]="nom" name="nom" formControlName="nomControl" />
                    </mat-form-field>
                  </div>

                  <div class="zone-input">
                    <p>Nouvel email</p>
                    <mat-form-field>
                      <input matInput [(ngModel)]="email" name="email" formControlName="emailControl" />
                    </mat-form-field>
                  </div>
                </form>
              </div>

            </div>
          } @else {
            <mat-card-title>
              <div class="image-with-name image-professeur">
                <img
                  src="{{ p.imagePath }}"
                  class="profile-image img-etudiant"
                />
              </div>

              <p class="nom-etudiant">
                Pr. {{ p.prenom }} {{ p.nom }}
              </p>
              <p>
                <span class="contact-professeur"><mat-icon>mail_outline</mat-icon><i>{{ p.email }}</i>  </span>
                Enseigne la matière : <b>{{ p.matiere.intitule }}</b>
              </p>
            </mat-card-title>
          }
        </mat-card-header>

        <mat-card-footer>
        @if (modifie && idProfesseur == p._id) {
          <a mat-flat-button color="primary" (click)="update()">
          @if (saving) { <mat-spinner></mat-spinner> } @else { <mat-icon>save_alt</mat-icon> Enregistrer les modifications }
          </a>
        } @else {
          <a mat-raised-button
            (click)="modifier(p)"
            ><mat-icon>edit</mat-icon> Modifier</a
          >
        }
        </mat-card-footer>
      </mat-card>
      <br>
    </div>
  </div>
</div>